@*@model IEnumerable<GalleryWebApplication.Author>*@
@model GalleryWebApplication.Models.GalleryViewModels.InstructorIndexData

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>

<p>
    <a asp-action="Create">Create new Author</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Name</th>
            <th>Contacts</th>

            <th>Products</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
        string selectedRow = "";
            if (item.Id == (int?)ViewData["AuthorId"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacts)
            </td>
                <td>
                    @foreach (var prod in item.AuthorsProducts)
                    {
                                <a href="@Url.Action("Details", "Products", new { id = @prod.Product.Id })">@prod.Product.Name</a> <br />

                    }
                    </td>
            <td>
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.Products != null)
{
        <h3>Products created by selected author</h3>
        <table class="table">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                    <th>Price</th>
                    <th>Information</th>

            </tr>

        @foreach (var item in Model.Products)
        {
            string selectedRow = "";
            if (item.Id == (int?)ViewData["ProductId"])
            {
                selectedRow = "success";
            }
                    <tr class="@selectedRow">
                        <td>
                    @Html.ActionLink("Select", "Index", new { productId = item.Id })
                        </td>
                        <td>
                    @item.Id
                        </td>
                        <td>
                    @item.Name
                        </td>
                        <td>
                    @item.Category.Name
                        </td>
                                <td>
                    @item.Price
                                </td>
                                        <td>
                    @item.Info
                                </td>
                    </tr>
        }

        </table>
}
@*<div class="container">
    <div id="chart1"></div>
</div>
@section scripts{
            <html>
          <head>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
              google.charts.load('current', {'packages':['bar']});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart() {
                        $.get('/api/Chart/AuthorProducts', function(AuthorProducts) {
                var data = google.visualization.arrayToDataTable(JsonData, false);
                var formatter = new google.visualization.NumberFormat({ prefix: '$' });
                formatter.format(data, 2);
                formatter.format(data, 3);
                var option = {
                  chart: {
                        title: "Author",
                        subtitle: "Number of artworks",
                  },
                  bars: 'horizontal' // Required for Material Bar Charts.
                };
                var chart = new google.charts.Bar(document.getElementById('barchart_material'));
                chart.draw(data, google.charts.Bar.convertOptions(option));
                });
              }
            </script>
          </head>
          <body>
            <div id="barchart_material" style="width: 900px; height: 500px;"></div>
          </body>
        </html>
}

@*

@*
<div class="container">
    <div id="chart1"></div>
</div>

@section scripts{
           <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['bar']});
            google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
            $.get('/api/Chart/AuthorProducts', function(AuthorProducts) {
            var data = google.visualization.arrayToDataTable(AuthorProducts, false);
            var formatter = new google.visualization.NumberFormat({ prefix: '$' });
            formatter.format(data, 2);
            formatter.format(data, 3);
            var options = {
                chart: {
                    title: 'Author',
                    subtitle: 'Number of artworks'
                },
                bars: 'horizontal'
            };
            var chart = new google.charts.Bar(document.getElementById('chart1'));
            chart.draw(data, google.charts.Bar.convertOptions(options));
        });
    }
        </script>
}
*@
<div class="container">
    <div id="chart2"></div>
</div>
@section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.get('/api/Chart/AuthorProducts', function (authorData) {
                    var data = new google.visualization.arrayToDataTable(authorData);
                    var formatter = new google.visualization.NumberFormat({ prefix: '$' });
                    formatter.format(data, 1);
                    var options = {
                        chart: {
                            title: 'Author',
                            subtitle: 'Number of artworks'
                        },
                        bars: 'horizontal'
                    };
                    var chart = new google.charts.Bar(document.getElementById('chart2'));
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                });
            }
        </script>
}

